In [0]:
!git clone -l -s git://github.com/Anna-Pon/Model-Risk cloned-repo
%cd cloned-repo
!ls

Cloning into 'cloned-repo'...
warning: --local is ignored
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (6/6), 957.41 KiB | 1.03 MiB/s, done.
/content/cloned-repo/cloned-repo/cloned-repo/cloned-repo
ofz.xlsx  README.md

In [0]:
!ls

ofz.xlsx  README.md

In [0]:
import numpy as np
import pandas as pd

In [0]:
file_ofz = pd.read_excel('/content/cloned-repo/ofz.xlsx', sheet_name = '26206')

In [0]:
file_ofz

          <TICKER> <PER>     <DATE>  <TIME>  ...   <HIGH>    <LOW>  <CLOSE>   <VOL>
0     SU26206RMFS1     D 2012-02-13       0  ...  100.070  100.070  100.070   26000
1     SU26206RMFS1     D 2012-02-14       0  ...  100.500  100.150  100.150   20001
2     SU26206RMFS1     D 2012-02-15       0  ...  100.250  100.200  100.250   20001
3     SU26206RMFS1     D 2012-02-21       0  ...  100.050  100.050  100.050       1
4     SU26206RMFS1     D 2012-02-24       0  ...  100.070  100.070  100.070   80000
...            ...   ...        ...     ...  ...      ...      ...      ...     ...
1302  SU26206RMFS1     D 2017-06-05       0  ...   99.967   99.940   99.957  616856
1303  SU26206RMFS1     D 2017-06-06       0  ...   99.964   99.956   99.960  496292
1304  SU26206RMFS1     D 2017-06-07       0  ...   99.967   99.960   99.965  923417
1305  SU26206RMFS1     D 2017-06-08       0  ...   99.971   99.968   99.971  297646
1306  SU26206RMFS1     D 2017-06-09       0  ...   99.999   99.975   99.994  980478

[1307 rows x 9 columns]

In [0]:
file_ofz.columns

Index(['<TICKER>', '<PER>', '<DATE>', '<TIME>', '<OPEN>', '<HIGH>', '<LOW>',
       '<CLOSE>', '<VOL>'],
      dtype='object')